<div class="container">
    <h2>Metricas de Clientes</h2>
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Promedio de edades</h6>
                    </div>
                    <span class="text-muted">{{promedio}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Desviaci&oacute;n Estandar</h6>
                    </div>
                    <span class="text-muted">{{desEstandar}}</span>
                </li>
            </ul>
        </div>
    </div>
    <h2>Lista de Clientes</h2>
    <div div class="col-md-8 order-md-1">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>APELLIDOS</th>
                    <th>EDAD</th>
                    <th>FECHA DE NACIMIENTO</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td>
                        <p>{{cliente.data.nombre}}</p>
                    </td>
                    <td>
                        <p>{{cliente.data.apellido}}</p>
                    </td>
                    <td>
                        <p>{{cliente.data.edad}}</p>
                    </td>
                    <td>
                        <p>{{cliente.data.fecNacimiento | date : "dd/MM/yyyy" }}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>